@charset "UTF-8";
html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  border: 0;
  vertical-align: top;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

input,
textarea,
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none !important;
  margin: 0;
}

/* set html5 elements to block */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-text-size-adjust: none;
}

p {
  padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  padding-right: 14px;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
  font-size: 100%;
}

label,
input,
select,
button,
textarea {
  vertical-align: middle;
  background-color: transparent;
  border: 0 none;
  outline: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
optgroup {
  font-style: normal;
  font-weight: normal;
}

textarea {
  resize: none;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  display: inline-block;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #030924;
}

div {
  font-size: 0.28rem;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #030924;
  color: #fff;
  text-align: center;
}

.loading_percent {
  font-size: 0.64rem;
  padding-top: 5.0rem;
}

.muiscBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 100001;
  background-size: cover;
  right: 20px;
  top: 10px;
}

.muisc_on {
  background-image: url(../images/music_on.png);
  animation: music 3s infinite linear;
}

.muiscBtn.muisc_off {
  background-image: url(../images/music_off1.png) !important;
}

.return {
  width: 70px;
  height: 35px;
  background-image: url(../images/return.png);
  background-size: cover;
  position: absolute;
  right: 60px;
  top: 6px;
  -webkit-background-size: cover;
  background-size: cover;
}
.page1 .return {
  z-index: 199;
}
.page2 .return {
  z-index: 100;
}
@keyframes music {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes music {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  width: 1.48rem;
  height: 1.11rem;
  top: 0;
  left: 0.6rem;
  background-image: url(../images/logo.png);
  background-size: cover;
}

.input-clear {
  position: absolute;
  right: 0.1rem;
  bottom: 0.1rem;
  width: 0.28rem;
  height: 0.28rem;
  background-image: url(../images/close.png);
  background-size: cover;
  display: none;
}

.page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #030924;
  position: relative;
}

.page0 {
  width: 100%;
  height: 100%;
  background-color: #030924;
  /*background-image: url(../images/page0_bg.gif);*/
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
}

.page0-car {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.start {
  position: absolute;
  width: 3.0rem;
  height: 3.4rem;
  background-size: cover;
  left: 50%;
  margin-left: -1.5rem;
  bottom: 0;
  background-image: url(../images/start.gif);
  background-size: 1.49rem 2.06rem;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.page1 {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #030924;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 100%;
}

.page1-scroll {
  height: 35rem;
  width: 100%;
  background-image: url(../images/page1_bg.jpg);
  background-size: cover;
}

.page1-title-txt {
  position: relative;
  font-size: 0.56rem;
  font-weight: bold;
  color: #fff;
  padding: 0 0.6rem;
  animation: rubber2 .5s reverse infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes rubber2 {
  0% {
    text-shadow: 0 0 rgba(23, 246, 241, .5), 0 0 rgba(249, 25, 85, .5);
  }
  25% {
    text-shadow: -2px 0 rgba(23, 246, 241, .5), 2px 0 rgba(249, 25, 85, .5);
  }
  50% {
    text-shadow: -5px 0 rgba(23, 246, 241, .5), 3px 0 rgba(249, 25, 85, .5);
  }
  100% {
    text-shadow: 3px 0 rgba(23, 246, 241, .5), 5px 0 rgba(249, 25, 85, .5);
  }
}

@-webkit-keyframes rubber2 {
  0% {
    text-shadow: 0 0 rgba(23, 246, 241, .5), 0 0 rgba(249, 25, 85, .5);
  }
  25% {
    text-shadow: -2px 0 rgba(23, 246, 241, .5), 2px 0 rgba(249, 25, 85, .5);
  }
  50% {
    text-shadow: -5px 0 rgba(23, 246, 241, .5), 3px 0 rgba(249, 25, 85, .5);
  }
  100% {
    text-shadow: 3px 0 rgba(23, 246, 241, .5), 5px 0 rgba(249, 25, 85, .5);
  }
}

.page1-title {
  text-align: center;
  padding-top: 1.6rem;
  margin-bottom: 3.4rem;
}

.page1-title img {
  width: 100%;
}

.page1-title .page1-title-tips {
  width: 6.56rem;
  margin-bottom: 1.0rem;
}

.page1-tips {
  margin-top: 0.5rem;
  color: #fff;
  text-align: center;
  position: relative;
}

.page1-tips .tips-top {
  width: 0.12rem;
  height: 0.12rem;
  border: 0.02rem solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -0.06rem;
  top: 0;
}

.page1-tips .tips-top .before {
  position: absolute;
  width: 0.02rem;
  height: 1.1rem;
  background-color: #fff;
  transform: rotate(30deg);
  transform-origin: top center;
  top: 0.12rem;
  left: 0.06rem;
  height: 0;
}

.page1-tips .tips-top .after {
  position: absolute;
  width: 0.02rem;
  height: 1.1rem;
  background-color: #fff;
  transform: rotate(-30deg);
  transform-origin: top center;
  top: 0.12rem;
  left: 0.06rem;
  height: 0;
}

.page1-tips .tips-center {
  font-size: 0.4rem;
  font-weight: bold;
  padding: 1.2rem 0 1.0rem 0;
  height: 0.8rem;
}

.page1-tips .tips-center .tips-center-txt {
  display: none;
  height: 0.8rem;
}
.page1-modal{
  position: fixed;
  top: 50%;
  transform: translate(0,-50%);
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 111111;
  background-color: rgba(4,11,40,0.9);
  padding: 0.4rem 0 0.8rem 0;
  display: none;
  box-sizing: border-box;
  border: 0.04rem solid #fff;
}
.page1-modal img{
  width: 6.9rem;
}
.continue{
  width: 1.02rem;
  height: 0.39rem;
  margin-top: 0.3rem;
  display: inline-block;
  background-image: url(../images/continue.png);
  background-size: cover;
}
.tips-center-txt img {
  width: 3.75rem;
}

.page1-tips .tips-bot {
  font-size: 0.24rem;
  height: 0.64rem;
}

.page1-tips .tips-bot p {
  display: none;
}

.tips-left {
  position: absolute;
  left: 0;
  top: 2.4rem;
  width: 50%;
}

.tips-left span.line-itlic {
  width: 1.87rem;
  height: 0.32rem;
  position: absolute;
  left: auto;
  right: 0.9rem;
  top: -0.3rem;
  background-image: url(../images/line_itlic.png);
  background-repeat: no-repeat;
  background-size: 1.87rem 0.32rem;
  width: 0;
  background-position: center right;
}

.tips-left.tips-right span.line-itlic {
  width: 1.87rem;
  height: 0.32rem;
  position: absolute;
  left: 0.9rem;
  width: 0;
  overflow: hidden;
  background-image: url(../images/line_itlic2.png);
  background-size: 1.87rem 0.32rem;
  background-position: center left;
  width: 0;
}

.tips-left.tips-right {
  position: absolute;
  left: auto;
  right: 0;
  top: 2.4rem;
}

.tips-left .line-circle {
  position: absolute;
  top: 0.06rem;
  left: 0.1rem;
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 50%;
  border: 0.02rem solid #fff;
}

.tips-left.tips-right .line-circle {
  position: absolute;
  top: 0.06rem;
  left: auto;
  right: 0.1rem;
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 50%;
  border: 0.02rem solid #fff;
}

.tips-left.tips-right .line-circle {
  top: -0.3rem;
}

.tips-left .line-circle .after {
  position: absolute;
  top: 50%;
  left: 0.12rem;
  width: 1.4rem;
  height: 0.02rem;
  background-color: #fff;
  width: 0;
}

.tips-left.tips-right .line-circle .after {
  position: absolute;
  top: 50%;
  left: auto;
  right: 0.12rem;
  width: 1.4rem;
  height: 0.02rem;
  background-color: #fff;
  width: 0;
}

.plate-title {
  text-align: center;
  font-size: 0.42rem;
  color: #fff;
  font-weight: bold;
  padding-top: 0.16rem;
  background-image: url(../images/title_bg.png);
  background-size: 2.21rem 0.13rem;
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 0.5rem;
}

.plate {
  margin-top: 0.8rem;
}

.plate1-con li {
  text-align: center;
  opacity: 0;
}

.plate1-con li img {
  width: 6.42rem;
}

.palte2-con ul li {
  width: 4.96rem;
  margin: 0 auto;
  opacity: 0;
}

.palte2-con ul li .plate2-reward {
  width: 100%;
  padding-bottom: 0.16rem;
  box-sizing: border-box;
  background-image: url(../images/plate2_con_bg.png);
  background-size: 4.95rem 0.13rem;
  background-position: bottom center;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bold;
  font-size: 0.36rem;
  padding-left: 0.5rem;
}

.palte2-con ul li .reward-intr {
  color: #fff;
  font-size: 0.28rem;
  padding-left: 2.0rem;
  line-height: 0.4rem;
}

.plate2-con-intro {
  width: 6.4rem;
  margin: 0.3rem auto 0.2rem;
  color: #fff;
  font-size: 0.24rem;
  opacity: 0;
}

.reward-tips {
  text-align: center;
  margin: 0.4rem 0;
  opacity: 0;
}

.reward-tips img {
  width: 6.43rem;
}

.page1-btn {
  margin-top: 0.6rem;
}

.page1-btn .go-baoming {
  width: 3.96rem;
  height: 0.88rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  /* background-image: url(../images/page1_btn.gif); */
  background-size: cover;
}

.page1-btn .go-baoming img {
  width: 3.96rem;
  height: 0.88rem;
}

.page1-btn .go-baoming .guang {
  position: absolute;
  width: 100%;
  height: 0.6rem;
  top: 0.06rem;
  left: 0;
}

.page1-btn .go-baoming .guang i {
  position: absolute;
  left: -0.3rem;
  height: 0.6rem;
  width: 0.64rem;
  background-image: url(../images/guang2.png);
  background-size: cover;
  transform: rotate(6deg);
  animation: guang 3.2s infinite;
}

@keyframes guang {
  0% {
    left: -0.2rem;
    opacity: 0;
  }
  10% {
    left: -0.2rem;
    opacity: 1;
  }
  40% {
    left: 2.48rem;
    opacity: 1;
  }
  50% {
    left: 2.48rem;
    opacity: 0;
  }
  51% {
    left: -0.2rem;
    opacity: 0;
  }
  69% {
    left: -0.2rem;
    opacity: 0;
  }
  70% {
    left: -0.2rem;
    opacity: 1;
  }
  80% {
    left: 2.48rem;
    opacity: 1;
  }
  81% {
    left: 2.48rem;
    opacity: 0;
  }
  82% {
    left: -0.2rem;
    opacity: 0;
  }
  83% {
    left: -0.2rem;
    opacity: 1;
  }
  90% {
    left: 2.48rem;
    opacity: 1;
  }
  100% {
    left: 2.48rem;
    opacity: 0;
  }
}

@-webkit-keyframes guang {
  0% {
    left: -0.2rem;
    opacity: 0;
  }
  10% {
    left: -0.2rem;
    opacity: 1;
  }
  40% {
    left: 2.48rem;
    opacity: 1;
  }
  50% {
    left: 2.48rem;
    opacity: 0;
  }
  51% {
    left: -0.2rem;
    opacity: 0;
  }
  69% {
    left: -0.2rem;
    opacity: 0;
  }
  70% {
    left: -0.2rem;
    opacity: 1;
  }
  80% {
    left: 2.48rem;
    opacity: 1;
  }
  81% {
    left: 2.48rem;
    opacity: 0;
  }
  82% {
    left: -0.2rem;
    opacity: 0;
  }
  83% {
    left: -0.2rem;
    opacity: 1;
  }
  90% {
    left: 2.48rem;
    opacity: 1;
  }
  100% {
    left: 2.48rem;
    opacity: 0;
  }
}

.thinline {
  width: 1.5rem;
  height: 0.02rem;
  background-color: #fff;
  position: absolute;
  top: -0.16rem;
  left: 1.3rem;
  /* animation: line 1.5s infinite; */
}

.boldline {
  width: 1.5rem;
  height: 0.04rem;
  background-color: #fff;
  position: absolute;
  top: -0.08rem;
  left: 1.8rem;
  /* animation: line 1.5s infinite 0.5s; */
}

.thinline2 {
  width: 1.5rem;
  height: 0.02rem;
  background-color: #fff;
  position: absolute;
  bottom: -0.16rem;
  right: 1.3rem;
  /* animation: line 1.5s infinite 0.5s; */
}

.boldline2 {
  width: 1.5rem;
  height: 0.04rem;
  background-color: #fff;
  position: absolute;
  bottom: -0.08rem;
  right: 1.8rem;
  /* animation: line 1.5s infinite; */
}

@keyframes line {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.page2 {
  position: fixed;
  z-index: 99;
  background-image: url(../images/page2_bg.jpg);
  background-size: cover;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
}

.page2 .page2-top {
  text-align: right;
  padding: 1.0rem 0.56rem 0 0;
}

.page2 .page2-top img {
  width: 4.7rem;
}

.page2 .msg-con {
  width: 4.5rem;
  margin: 0.3rem auto;
  color: #fff;
}

.page2 .msg-con .title {
  text-align: center;
  font-size: 0.28rem;
  font-weight: bold;
}

.page2 .msg-con ul li {
  font-size: 0.24rem;
  margin-bottom: 0.12rem;
  position: relative;
}

.page2 .msg-con ul li p {
  line-height: 0.4rem;
}

.page2 .msg-con ul li input {
  box-sizing: border-box;
  width: 100%;
  height: 0.5rem;
  padding: 0.1rem 0.3rem;
  border: 0.02rem solid #fff;
  color: #fff;
  line-height: 0.3rem;
  font-size: 0.24rem;
  border-radius: 0;
}

.page2 .msg-con ul li select {
  box-sizing: border-box;
  width: 100%;
  height: 0.5rem;
  padding: 0 0.3rem;
  border: 0.02rem solid #fff;
  color: #fff;
  line-height: 0.5rem;
  font-size: 0.24rem;
  border-radius: 0;
  position: relative;
}

.page2 .msg-con ul li .icon-bottom {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 0.1rem;
  bottom: 0.11rem;
  border: 0.1rem solid transparent;
  border-top: 0.15rem solid #fff;
}

.msg-con-tips {
  text-align: center;
}

.msg-con-tips img {
  width: 4.16rem;
}

.page2-btn {
  text-align: center;
}

.page2-btn span {
  display: inline-block;
  width: 3.23rem;
  height: 0.84rem;
  background-image: url(../images/page2_btn.png);
  background-size: cover;
}

.page2-btn img {
  width: 3.23rem;
}

.page3 {
  position: fixed;
  z-index: 10;
  background-image: url(../images/page2_bg.jpg);
  background-size: cover;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
}

.page3-tips {
  text-align: right;
  padding: 1.0rem 0.6rem 0 0;
  font-size: 0.24rem;
}

.page3-code {
  font-size: 0.36rem;
  font-weight: bold;
  margin-top: 0.2rem;
  padding-left: 1.0rem;
}

.page3-code p span {
  color: #1ea8db;
  font-size: 0.42rem;
}

.page3-code p:nth-child(2) {
  font-size: 0.32rem;
}

.page3-con {
  width: 5.49rem;
  margin: 0.6rem auto;
}

.page3-con img {
  width: 100%;
}

.page3-thanks {
  text-align: center;
  font-size: 0.32rem;
  font-weight: bold;
}

.page3-share {
  font-size: 0.36rem;
  color: #1ea8db;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 0.5rem;
}

.share {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: none;
}

.share img {
  width: 3.26rem;
  height: 1.0rem;
  position: absolute;
  right: 0.6rem;
  top: 0.2rem;
}

.bg {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100002;
  background-color: rgba(2, 8, 22, .8);
  width: 5.48rem;
  height: 2.0rem;
  border: 0.04rem solid #fff;
  text-align: center;
  color: #fff;
  display: none;
}

.modal button {
  background-color: transparent;
  font-size: 0.32rem;
  color: #1ea8db;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  bottom: 0.3rem;
  width: 2.0rem;
  margin-left: -1.0rem;
  left: 50%;
}

.modal p {
  font-size: 0.32rem;
  padding: 0.4rem 0.2rem 0.2rem 0.2rem;
}